<div *ngIf="loginFlag">
    <h2>Login</h2>
    <form #loginRef="ngForm" (ngSubmit)="checkUser(loginRef)">
        <label>Username:</label>
        <input type="text" name="user" ngModel required><br>
        <label>Password:</label>
        <input type="password" name="pass" ngModel required><br>
        <input type="submit" value="Login" [disabled]="loginRef.invalid"><br>
        <label>Don't have an account? </label>
        <input type="button" value="Sign Up" class="magicLink" (click)="openRegistry()">
    </form>
</div>
