<div>
    <h1>TCS Angular Final Exam</h1>
    <form #examRef="ngForm" (ngSubmit)="finishExam(examRef)">
        <div *ngFor="let q of examination">
            <h2>{{q.title}}</h2>
            <mat-radio-group aria-label="Select an option" name={{q.title}} ngModel required>
                <mat-radio-button value={{q.ans1}}>{{q.ans1}}</mat-radio-button><br><br>
                <mat-radio-button value={{q.ans2}}>{{q.ans2}}</mat-radio-button><br><br>
                <mat-radio-button value={{q.ans3}}>{{q.ans3}}</mat-radio-button><br><br>
                <mat-radio-button value={{q.ans4}}>{{q.ans4}}</mat-radio-button><br><br>
                <hr>
            </mat-radio-group>
        </div>
        <button mat-raised-button type="submit" color="primary" [disabled]="examRef.invalid">Save and Submit</button>
        <h3 *ngIf="examDone">You got {{totalCorrect}} out of 10 questions right.</h3>
    </form>
</div>
